@import '../../../styles.scss';

$h-spotify-logo: 120px;
$h-menu-options: 150px;
$m-between-menus: 10px;


:host {
  max-width: 300px;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: $cor-fundo-dark-mode;
  box-shadow: 1px 0px 15px #00000050;

  .menus {
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    padding: 0px 40px;
    .img-container {
      min-height: $h-spotify-logo;
      img {
        width: 70%;
      }
    }
    .menu-container {
      width: 100%;

      &.flex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      &.options{
        min-height: $h-menu-options;

        * {
          margin-bottom: $m-between-menus;
        }
      }
      .playlist-title {
        margin: 10px 0px;
        align-self: flex-start;
        font-weight: bold;
        font-size: .7rem;
        color: $branco-transparent-30;
      }
      .playlist-scroll {
        width: 100%;
        * {
          margin-bottom: $m-between-menus;
        }
      }
    }
  }
}
