@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

$cor-primaria: #37AB00;
$cor-fundo: #FBFEF4;
$cor-fundo2: #FFF;
$cor-fundo-dark-mode: #000000;
$cor-fundo2-dark-mode: #1a1a1a;

$preto-transparent-30: #0000004D;
$preto-transparent-20: #00000033;
$preto-transparent-03: #00000008;
$preto-transparent-70: #000000b3;

$branco-transparent-30: #ffffff4D;
$branco-transparent-20: #ffffff33;
$branco-transparent-03: #ffffff08;
$branco-transparent-70: #ffffffb3;

$branco: $cor-fundo2;

html,
body {
  margin: 0;
  padding: 0;
  // background-color: $cor-fundo;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;
  &-center {
    justify-content: center;
    align-items: center;
  }
}
